@use "variables";

.quote-text-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  font-size: variables.$large-font-size;
  text-align: center;
  transition: variables.$transition-color;
}
